<h5>Register</h5>
<h7>Select a country and role to continue</h7>
<div class="row">
<form action="/register" method="POST" class="col s12">
    <%- include("countrys.ejs")  %> 
    <%- include("role.ejs")  %>
    <div class="col s12">
        <button type="submit">Register</button>
    </div> 
</form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
    });
</script>
</div>

