<div class="input-field col l6">
    <select name="role" id="role">
        <option value="Student">Student</option>
        <option value="Teacher">Teacher</option>
        <option value="Professional">Professional</option>
        <option value="Service-User">Service-User</option>
        <option value="Caregiver">Caregiver</option>
    </select> 
</div>