<!DOCTYPE html>
<html lang="en">
<head>

    <!--EIGEN CSS-->
    <link rel="stylesheet" type="text/css" href="/styles/style.css"/>

    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strenco Tool</title>
</head>
<body>

   <!--HEADER-->
    <!--HEADER-->                      
<div class="header">
  <div id="header-container" class="container">
    <div class="headerdiv">
      <a href="" class="headerleft">
        <img src="img/header.png" class="img-responsive" alt="header SU">
      </a>
    </div>     
  </div>
</div><br>

<!--NAVBAR -->
 <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <div class="topnav" id="myTopnav">
   <a href="indexNL.html" class="active">NL</a>
   <a href="indexEN.html">EN</a>
 </div><br><br> 

  <!--GRIDS 1-->
  <div class="container-fluid">
    
    <div class="row">
      
    
      <div class="col-sm-12">
        <h1 onclick="myFunction()" class="title link color1" id="test">Waarden + Ethiek

          <script>
            function myFunction() {
              alert("Een onvoorwaardelijke positieve blik hebben (IP 2018). Het recht van het individu om deel te nemen aan de samenleving te bevorderen en ondersteunen (COP België, 2019). Erkenning en respect hebben voor het individu met betrekking tot zijn gezin, zijn sociale gemeenschap en zijn natuurlijke omgeving (COP België, 2019). Focussen op de kansen en sterke punten van individuen en gemeenschappen en bevorderen van empowerment (COP Belgium, 2019). Het vergemakkelijken van het individu om niet bevooroordeeld te worden, om een actief lid van de maatschappij te worden en om gelijkgesteld te worden binnen zijn context.(IP 2019)."
              );
            }
            </script>
        </h1>
        <div class="content">
        <p>Niet oordelend zijn</p>
        <span id='S1' class="fa fa-star fa-2x unchecked"></span>
        <span id='S2' class="fa fa-star fa-2x unchecked"></span>
        <span id='S3' class="fa fa-star fa-2x unchecked"></span>
        <span id='S4' class="fa fa-star fa-2x unchecked"></span>
        <span id='S5' class="fa fa-star fa-2x unchecked"></span>
        <br>
        <br>
        <P>Respectvol zijn</P>
        <span id='S6' class="fa fa-star fa-2x unchecked"></span>
        <span id='S7' class="fa fa-star fa-2x unchecked"></span>
        <span id='S8' class="fa fa-star fa-2x unchecked"></span>
        <span id='S9' class="fa fa-star fa-2x unchecked"></span>
        <span id='S10' class="fa fa-star fa-2x unchecked"></span>
        <br>
        <br>
        <p>Vergoten van het maatschappelijk bewust zijn</p>
        <span id='S11' class="fa fa-star fa-2x unchecked"></span>
        <span id='S12' class="fa fa-star fa-2x unchecked"></span>
        <span id='S13' class="fa fa-star fa-2x unchecked"></span>
        <span id='S14' class="fa fa-star fa-2x unchecked"></span>
        <span id='S15' class="fa fa-star fa-2x unchecked"></span>
        <br>
        <br>
        <p>Good practices richtlijnen volgen</p>
        <span id='S16' class="fa fa-star fa-2x unchecked"></span>
        <span id='S17' class="fa fa-star fa-2x unchecked"></span>
        <span id='S18' class="fa fa-star fa-2x unchecked"></span>
        <span id='S19' class="fa fa-star fa-2x unchecked"></span>
        <span id='S20' class="fa fa-star fa-2x unchecked"></span>
        <br>
        <br>
        <p id="myGem">Gemiddelde</p>
        <span id='S21' class="fa fa-star fa-2x unchecked"></span>
        <span id='S22' class="fa fa-star fa-2x unchecked"></span>
        <span id='S23' class="fa fa-star fa-2x unchecked"></span>
        <span id='S24' class="fa fa-star fa-2x unchecked"></span>
        <span id='S25' class="fa fa-star fa-2x unchecked"></span>
       
      </div>

      </div>
      

      <!--grid 2 -->
      <hr style="border-top: 3px solid black;">
  <div class="container-fluid">
    
    <div class="row">
      
      
      <div class="col-sm-12">
        <h1 onclick="myFunction1()" class="title link color2">Identiteit + attitude + benadering vanuit verschillende perspectieven
          <script>
            function myFunction1() {
              alert("Ontwikkelen van een kernbegrip van persoonlijke en professionele attitude, identiteit en perspectief (Begrijpen wat elkaars rol is) (IP 2018). Het vermijden van overlap met de rol van anderen (roldifferentiatie - verschillende rollen moeten zichtbaar blijven) (COP België, 2019). Erkennen van de expertise van de eigen rol (COP België, 2019) Op een productieve manier reflecteren over de geschiedenis en begrijpen hoe de eigen geschiedenis eigen (therapeutische) relaties beïnvloeden (IP 2019). Erkennen van de mate waarin het handelen van andere mensen jou beïnvloedt en hoe je deze ervaring bewust en/of onbewust gebruikt in relatie tot het individu. (COP België, 2019) Een onvoorwaardelijk positief standpunt innemen (IP 2018). Echtheid en respect tonen voor iemands achtergrond, waarden, overtuigingen en karakter (IP2019)."
              );
            }
            </script>
        </h1>
        <div class="content">
        <p>Je bewust zijn van je eigen rol</p>
        <span id='S26' class="fa fa-star fa-2x unchecked"></span>
        <span id='S27' class="fa fa-star fa-2x unchecked"></span>
        <span id='S28' class="fa fa-star fa-2x unchecked"></span>
        <span id='S29' class="fa fa-star fa-2x unchecked"></span>
        <span id='S30' class="fa fa-star fa-2x unchecked"></span>
        <br>
        <br>
        <P>Zelfbewust zijn</P>
        <span id='S31' class="fa fa-star fa-2x unchecked"></span>
        <span id='S32' class="fa fa-star fa-2x unchecked"></span>
        <span id='S33' class="fa fa-star fa-2x unchecked"></span>
        <span id='S34' class="fa fa-star fa-2x unchecked"></span>
        <span id='S35' class="fa fa-star fa-2x unchecked"></span>
        <br>
        <br>
        <p>Niet oordelend zijn</p>
        <span id='S36' class="fa fa-star fa-2x unchecked"></span>
        <span id='S37' class="fa fa-star fa-2x unchecked"></span>
        <span id='S38' class="fa fa-star fa-2x unchecked"></span>
        <span id='S39' class="fa fa-star fa-2x unchecked"></span>
        <span id='S40' class="fa fa-star fa-2x unchecked"></span>
        <br>
        <br>
        <p>Open minded zijn, elkaars referentiekader kennen</p>
        <span id='S41' class="fa fa-star fa-2x unchecked"></span>
        <span id='S42' class="fa fa-star fa-2x unchecked"></span>
        <span id='S43' class="fa fa-star fa-2x unchecked"></span>
        <span id='S44' class="fa fa-star fa-2x unchecked"></span>
        <span id='S45' class="fa fa-star fa-2x unchecked"></span>
        <br>
        <br>
        <p id="myGem">Gemiddelde</p>
        <span id='S46' class="fa fa-star fa-2x unchecked"></span>
        <span id='S47' class="fa fa-star fa-2x unchecked"></span>
        <span id='S48' class="fa fa-star fa-2x unchecked"></span>
        <span id='S49' class="fa fa-star fa-2x unchecked"></span>
        <span id='S50' class="fa fa-star fa-2x unchecked"></span>
      </div>
      </div>

     
      <!--grid 3 -->
      <hr style="border-top: 3px solid black;">
  <div class="container-fluid">
    
    <div class="row">
      
    
      <div class="col-sm-12">
        <h1 onclick="myFunction2()" class="title link color3">Zorgvrager- gerichte aanpak
          <script>
            function myFunction2() {
              alert("Respectvol inspelen op de behoeften van de zorgvrager en van iedereen die bij hem/haar betrokken is (IP 2019). Gericht zijn op interventies en diensten voor de zorgvrager (Wood, Flavell, Vanstolk,Bainbridge, & Nasmith, 2009). Respect hebben voor de waarden, de waardigheid en de rechten van de zorgvrager, zonder vooroordelen (IP 2019)De aandacht volledig richten op wat er gezegd wordt, in plaats van de boodschap passief te 'horen' (IP 2018). Actief deelnemen aan een gesprek/dialoog (IP 2019). Aanwezig zijn als zijnde 'een attitude', en niet alleen als zijnde ‘een techniek’ (COP België, 2019).Inspelen op en aanpassen aan gewijzigde omstandigheden (IP 2018) (COP België, 2019)."
              );
            }
            </script>
        </h1>
        <div class="content">
        <p>Focussen op (andere) zorgbragers</p>
        <span id='S51' class="fa fa-star fa-2x unchecked"></span>
        <span id='S52' class="fa fa-star fa-2x unchecked"></span>
        <span id='S53' class="fa fa-star fa-2x unchecked"></span>
        <span id='S54' class="fa fa-star fa-2x unchecked"></span>
        <span id='S55' class="fa fa-star fa-2x unchecked"></span>
        <br>
        <br>
        <P>Respectvol zijn</P>
        <span id='S56' class="fa fa-star fa-2x unchecked"></span>
        <span id='S57' class="fa fa-star fa-2x unchecked"></span>
        <span id='S58' class="fa fa-star fa-2x unchecked"></span>
        <span id='S59' class="fa fa-star fa-2x unchecked"></span>
        <span id='S60' class="fa fa-star fa-2x unchecked"></span>
        <br>
        <br>
        <p>Actief luisteren</p>
        <span id='S61' class="fa fa-star fa-2x unchecked"></span>
        <span id='S62' class="fa fa-star fa-2x unchecked"></span>
        <span id='S63' class="fa fa-star fa-2x unchecked"></span>
        <span id='S64' class="fa fa-star fa-2x unchecked"></span>
        <span id='S65' class="fa fa-star fa-2x unchecked"></span>
        <br>
        <br>
        <p>Flexibel zijn</p>
        <span id='S66' class="fa fa-star fa-2x unchecked"></span>
        <span id='S67' class="fa fa-star fa-2x unchecked"></span>
        <span id='S68' class="fa fa-star fa-2x unchecked"></span>
        <span id='S69' class="fa fa-star fa-2x unchecked"></span>
        <span id='S70' class="fa fa-star fa-2x unchecked"></span>
        <br>
        <br>
        <p id="myGem">Gemiddelde</p>
        <span id='S71' class="fa fa-star fa-2x unchecked"></span>
        <span id='S72' class="fa fa-star fa-2x unchecked"></span>
        <span id='S73' class="fa fa-star fa-2x unchecked"></span>
        <span id='S74' class="fa fa-star fa-2x unchecked"></span>
        <span id='S75' class="fa fa-star fa-2x unchecked"></span>
      </div>


      </div>
      
       <!--grid 4 -->
       <hr style="border-top: 3px solid black;">
       <div class="container-fluid">
         
         <div class="row">
           
         
           <div class="col-sm-12">
            <h1 onclick="myFunction3()" class="title link color4">Effectieve communicatie
              <script>
                function myFunction3() {
                  alert("Bewust zijn van de geestelijke, klinische, sociale en spirituele gezondheid van het individu in de context van zijn/haar achtergrond en ervaringen (IP 2018). Elkaar op een holistische manier kunnen benaderen (COP België, 2019). De aandacht volledig richten op wat er gezegd wordt, in plaats van de boodschap passief te 'horen' (IP 2018). Actief deelnemen aan een gesprek/dialoog (IP 2019). Aanwezig zijn als zijnde ‘een attitude', en niet alleen als zijnde ‘een techniek’ (COP België, 2019). Taal aanpassen aan het niveau van het individu (IP 2018). Alert zijn voor het gebruik van klinische termen en je ervan verzekeren dat deze (door jezelf als door de andere) worden begrepen (COP Belgium 2019). Congruent zijn: verbale en non-verbale communicatie passen bij elkaar (COP Belgium, 2019). Authenticiteit behouden (COP België, 2019). Ervan bewust zijn dat communicatie niet altijd gemakkelijk is en dat het mogelijk is om moeilijke informatie te communiceren (COP België, 2019). Ervan bewust zijn dat de communicatie beladen is met interpretatie (IP 2019). Ervan bewust zijn dat verandering welkom is (IP 2019)."
                  );
                }
                </script>
            </h1>
            <div class="content">
             <p>Eenholistische ingesteldheid</p>
             <span id='S76' class="fa fa-star fa-2x unchecked"></span>
             <span id='S77' class="fa fa-star fa-2x unchecked"></span>
             <span id='S78' class="fa fa-star fa-2x unchecked"></span>
             <span id='S79' class="fa fa-star fa-2x unchecked"></span>
             <span id='S80' class="fa fa-star fa-2x unchecked"></span>
             <br>
             <br>
             <P>Actief luisteren</P>
             <span id='S81' class="fa fa-star fa-2x unchecked"></span>
             <span id='S82' class="fa fa-star fa-2x unchecked"></span>
             <span id='S83' class="fa fa-star fa-2x unchecked"></span>
             <span id='S84' class="fa fa-star fa-2x unchecked"></span>
             <span id='S85' class="fa fa-star fa-2x unchecked"></span>
             <br>
             <br>
             <p>Eenvoudige taal hanteren</p>
             <span id='S86' class="fa fa-star fa-2x unchecked"></span>
             <span id='S87' class="fa fa-star fa-2x unchecked"></span>
             <span id='S88' class="fa fa-star fa-2x unchecked"></span>
             <span id='S89' class="fa fa-star fa-2x unchecked"></span>
             <span id='S90' class="fa fa-star fa-2x unchecked"></span>
             <br>
             <br>
             <p>Een open en eerlijke dialoog kunnen voeren</p>
             <span id='S91' class="fa fa-star fa-2x unchecked"></span>
             <span id='S92' class="fa fa-star fa-2x unchecked"></span>
             <span id='S93' class="fa fa-star fa-2x unchecked"></span>
             <span id='S94' class="fa fa-star fa-2x unchecked"></span>
             <span id='S95' class="fa fa-star fa-2x unchecked"></span>
             <br>
             <br>
             <p id="myGem">Gemiddelde</p>
             <span id='S96' class="fa fa-star fa-2x unchecked"></span>
             <span id='S97' class="fa fa-star fa-2x unchecked"></span>
             <span id='S98' class="fa fa-star fa-2x unchecked"></span>
             <span id='S99' class="fa fa-star fa-2x unchecked"></span>
             <span id='S100' class="fa fa-star fa-2x unchecked"></span>
            </div>
           </div>

           <!--grid 4 -->
           <hr style="border-top: 3px solid black;">
       <div class="container-fluid">
         
         <div class="row">
           
         
           <div class="col-sm-12">
            <h1 onclick="myFunction4()" class="title link color5">Gezondheids- promotie en- preventie
              <script>
                function myFunction4() {
                  alert("Gezondheidsbevorderende methodieken en preventiefilosofieën aanwenden die aangepast zijn aan de behoeften van individuen en groepen en aan de context, gemeenschap en beleid (IP 2018). (De andere) bewust maken van de noodzaak/het belang van het bevorderen van de geestelijke gezondheid en welbevinden (COP België, 2019). Communicatievaardigheden aanwenden om individuen op te leiden in positieve gezondheidskeuzes (COP België, 2019). Gezondheidsbevordering aanpassen aan de behoeften van de gemeenschap, het gezin en de zorgvrager (COP België, 2019). Begeleiden in het creëren van opportuniteiten voor stabiliteit/coping (COP België, 2019). Toegang tot educatie faciliteren en training tot stabiliteit/coping creëren (COP België, 2019). Klinische termen, zorgplannen, procedures, methoden duidelijk uitleggen (COP België, 2019). Ervoor zorgen dat personen alle informatie begrijpen die zij nodig hebben. (IP 2018) Bewust zijn van en aanpakken van gezondheidsverschillen en sociale ongelijkheid (diversiteit) ‘Aanpakken van’  omvat de opsporing, erkenning, sanering en preventie (individueel en structureel) van gezondheidsverschillen en sociale ongelijkheden (COP België, 2019)."
                  );
                }
                </script>
            </h1>
            <div class="content">
             <p>Aandacht hebben voor gezondheidspromotie en- preventie</p>
             <span id='S101' class="fa fa-star fa-2x unchecked"></span>
             <span id='S102' class="fa fa-star fa-2x unchecked"></span>
             <span id='S103' class="fa fa-star fa-2x unchecked"></span>
             <span id='S104' class="fa fa-star fa-2x unchecked"></span>
             <span id='S105' class="fa fa-star fa-2x unchecked"></span>
             <br>
             <br>
             <P>Kunnen informeren en educeren over gezondheidsrisico's en levensstijl</P>
             <span id='S106' class="fa fa-star fa-2x unchecked"></span>
             <span id='S107' class="fa fa-star fa-2x unchecked"></span>
             <span id='S108' class="fa fa-star fa-2x unchecked"></span>
             <span id='S109' class="fa fa-star fa-2x unchecked"></span>
             <span id='S110' class="fa fa-star fa-2x unchecked"></span>
             <br>
             <br>
             <p>Zelfmanagement faciliteren</p>
             <span id='S111' class="fa fa-star fa-2x unchecked"></span>
             <span id='S112' class="fa fa-star fa-2x unchecked"></span>
             <span id='S113' class="fa fa-star fa-2x unchecked"></span>
             <span id='S114' class="fa fa-star fa-2x unchecked"></span>
             <span id='S115' class="fa fa-star fa-2x unchecked"></span>
             <br>
             <br>
             <p>Verbeteren van gezondheidsvaardigheden</p>
             <span id='S116' class="fa fa-star fa-2x unchecked"></span>
             <span id='S117' class="fa fa-star fa-2x unchecked"></span>
             <span id='S118' class="fa fa-star fa-2x unchecked"></span>
             <span id='S119' class="fa fa-star fa-2x unchecked"></span>
             <span id='S120' class="fa fa-star fa-2x unchecked"></span>
             <br>
             <br>
             <p>gezonheidsverschillen en sociale ongelijkheid aanpakken (diversiteit)</p>
             <span id='S121' class="fa fa-star fa-2x unchecked"></span>
             <span id='S122' class="fa fa-star fa-2x unchecked"></span>
             <span id='S123' class="fa fa-star fa-2x unchecked"></span>
             <span id='S124' class="fa fa-star fa-2x unchecked"></span>
             <span id='S125' class="fa fa-star fa-2x unchecked"></span>
             <br>
             <br>
             <p id="myGem">Gemiddelde</p>
             <span id='S126' class="fa fa-star fa-2x unchecked"></span>
             <span id='S127' class="fa fa-star fa-2x unchecked"></span>
             <span id='S128' class="fa fa-star fa-2x unchecked"></span>
             <span id='S129' class="fa fa-star fa-2x unchecked"></span>
             <span id='S130' class="fa fa-star fa-2x unchecked"></span>
            </div>
           </div>
           
               <!--grid 5 -->
               <hr style="border-top: 3px solid black;">
       <div class="container-fluid">
        
        <div class="row">
          
        
          <div class="col-sm-12">
            <h1 onclick="myFunction5()" class="title link color6">Empowerment + herstelgericht werken
              <script>
                function myFunction5() {
                  alert("Elkaars waarde, expertise, groeikansen, uitdagingen en sterktes verkennen en erkennen (COP Belgium, 2019). In staat zijn om te herkennen waar het individu zich bevindt in zijn/haar levensloop en zijn/haar behoeften en sterke punten herkennen. (IP 2018) De expertise, het verhaal en sterktes van een individu respecteren en waarderen en de uitdagingen die hij/zij in het leven zou kunnen aangaan, kunnen schetsen. (IP 2018) Pleiten voor onafhankelijkheid en het aanmoedigen ervan. (IP 2018) Vaardigheden in functie van zelfmanagement faciliteren en ontwikkelen. (IP 2018) Geloven in een betekenisvolle toekomst. (COP Belgium, 2019). Vasthouden aan een betekenisvolle toekomst en ook het geloof erin overbrengen naar de ander (IP 2019). Focussen en inzetten op de sterktes en capaciteiten van elkaar (IP 2018) Openstaan voor eigen positieve gevoelens of sterktes en de moed hebben om eigen capaciteiten te benutten. (COP Belgium, 2019; IP 2019). Elkaar aanmoedigen om te reflecteren over eigen sterktes en capaciteiten (IP 2018)."
                  );
                }
                </script>
            </h1>
            <div class="content">
            <p>De noden en sterktes van de ander kunnen identificeren</p>
            <span id='S131' class="fa fa-star fa-2x unchecked"></span>
            <span id='S132' class="fa fa-star fa-2x unchecked"></span>
            <span id='S133' class="fa fa-star fa-2x unchecked"></span>
            <span id='S134' class="fa fa-star fa-2x unchecked"></span>
            <span id='S135' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <P>Onafhankelijkheid en zelfmangement bevorderen</P>
            <span id='S136' class="fa fa-star fa-2x unchecked"></span>
            <span id='S137' class="fa fa-star fa-2x unchecked"></span>
            <span id='S138' class="fa fa-star fa-2x unchecked"></span>
            <span id='S139' class="fa fa-star fa-2x unchecked"></span>
            <span id='S140' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <p>Hoop kunnen creëren</p>
            <span id='S141' class="fa fa-star fa-2x unchecked"></span>
            <span id='S142' class="fa fa-star fa-2x unchecked"></span>
            <span id='S143' class="fa fa-star fa-2x unchecked"></span>
            <span id='S144' class="fa fa-star fa-2x unchecked"></span>
            <span id='S145' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <p>Focussen en inzetten op de sterktes en capaciteiten van elkaar</p>
            <span id='S146' class="fa fa-star fa-2x unchecked"></span>
            <span id='S147' class="fa fa-star fa-2x unchecked"></span>
            <span id='S148' class="fa fa-star fa-2x unchecked"></span>
            <span id='S149' class="fa fa-star fa-2x unchecked"></span>
            <span id='S150' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <p id="myGem">Gemiddelde</p>
            <span id='S151' class="fa fa-star fa-2x unchecked"></span>
            <span id='S152' class="fa fa-star fa-2x unchecked"></span>
            <span id='S153' class="fa fa-star fa-2x unchecked"></span>
            <span id='S154' class="fa fa-star fa-2x unchecked"></span>
            <span id='S155' class="fa fa-star fa-2x unchecked"></span>
          </div>
          </div>

           <!--grid 6 -->
           <hr style="border-top: 3px solid black;">
       <div class="container-fluid">
        
        <div class="row">
          
        
          <div class="col-sm-12">
            <h1 onclick="myFunction6()" class="title link color1">Collabrative shared decision making
              <script>
                function myFunction6() {
                  alert("Respectvol zijn (IP 2018). Taken delegeren en vertrouwen hebben in elkaars capaciteiten (IP 2019). Verschillende meningen accepteren (COP Belgium, 2019). Reflecteren over de eigen inbreng in een team (IP 2019). Begrip hebben van groepsnormen (Suter, et al., 2009). Ervan bewust zijn dat de eigen mening gekleurd wordt door eigen achtergrond, zorgdiscipline, etc. (COP Belgium, 2019). Conflicthantering (Wood, Flavell, Vanstolk, Bainbridge, & Nasmith, 2009). Op het juiste moment tussenkomen en of bemiddelen in een conflict. In staat zijn om meningsverschillen te tolereren en bereidheid tot samenwerking tonen (Suter, et al., 2009). Aan- of afwezigheid van de eigen rol in het teamwerk of de besluitvorming kunnen loslaten (COP Belgium, 2019). Moed hebben om voor zichzelf op te komen met respect voor anderen. (IP 2018)"
                  );
                }
                </script>
            </h1>
            <div class="content">
            <p>Een teamplayer zijn</p>
            <span id='S156' class="fa fa-star fa-2x unchecked"></span>
            <span id='S157' class="fa fa-star fa-2x unchecked"></span>
            <span id='S158' class="fa fa-star fa-2x unchecked"></span>
            <span id='S159' class="fa fa-star fa-2x unchecked"></span>
            <span id='S160' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <P>Zelfbewust zijn tijdens coproductie</P>
            <span id='S161' class="fa fa-star fa-2x unchecked"></span>
            <span id='S162' class="fa fa-star fa-2x unchecked"></span>
            <span id='S163' class="fa fa-star fa-2x unchecked"></span>
            <span id='S164' class="fa fa-star fa-2x unchecked"></span>
            <span id='S165' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <p>In staat zijn om beslissingen te maken tijdens coproductie</p>
            <span id='S166' class="fa fa-star fa-2x unchecked"></span>
            <span id='S167' class="fa fa-star fa-2x unchecked"></span>
            <span id='S168' class="fa fa-star fa-2x unchecked"></span>
            <span id='S169' class="fa fa-star fa-2x unchecked"></span>
            <span id='S170' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <p>Assertief zijn</p>
            <span id='S171' class="fa fa-star fa-2x unchecked"></span>
            <span id='S172' class="fa fa-star fa-2x unchecked"></span>
            <span id='S173' class="fa fa-star fa-2x unchecked"></span>
            <span id='S174' class="fa fa-star fa-2x unchecked"></span>
            <span id='S175' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <p id="myGem">Gemiddelde</p>
            <span id='S176' class="fa fa-star fa-2x unchecked"></span>
            <span id='S177' class="fa fa-star fa-2x unchecked"></span>
            <span id='S178' class="fa fa-star fa-2x unchecked"></span>
            <span id='S179' class="fa fa-star fa-2x unchecked"></span>
            <span id='S180' class="fa fa-star fa-2x unchecked"></span>
          </div>
          </div>
          
           <!--grid 7 -->
           <hr style="border-top: 3px solid black;">
       <div class="container-fluid">
        
        <div class="row">
          
        
          <div class="col-sm-12">
            <h1 onclick="myFunction7()" class="title link color2">Positive risk taking
              <script>
                function myFunction7() {
                  alert("Risico’s positief inschatten voor zorgvragers, familie, teams, organisaties en de maatschappij (COP Belgium, 2019). Het nemen van positieve risico's binnen overeengekomen en veilige grenzen faciliteren (COP Belgium, 2019). Creatief zijn; alternatieve oplossingen genereren in coproductie (IP 2018). Het opbouwen van een vertrouwensrelatie waarbinnen positieve risico's worden genomen (IP 2019). Respect voor de waarden, waardigheid en rechten van het individu zonder vooroordelen (IP 2019)."
                  );
                }
                </script>
            </h1>
            <div class="content">
            <p>Een actuele risico-inschatting (van persoon en omgeving) kunnen maken</p>
            <span id='S181' class="fa fa-star fa-2x unchecked"></span>
            <span id='S182' class="fa fa-star fa-2x unchecked"></span>
            <span id='S183' class="fa fa-star fa-2x unchecked"></span>
            <span id='S184' class="fa fa-star fa-2x unchecked"></span>
            <span id='S185' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <P>In staat zijn om veiligheid en controle te garanderen</P>
            <span id='S186' class="fa fa-star fa-2x unchecked"></span>
            <span id='S187' class="fa fa-star fa-2x unchecked"></span>
            <span id='S188' class="fa fa-star fa-2x unchecked"></span>
            <span id='S189' class="fa fa-star fa-2x unchecked"></span>
            <span id='S190' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <p>Het kunnen genereren van alternatieve oplossingen in samenwerking met de persoon en zijn/haar context(zorgerleners)</p>
            <span id='S191' class="fa fa-star fa-2x unchecked"></span>
            <span id='S192' class="fa fa-star fa-2x unchecked"></span>
            <span id='S193' class="fa fa-star fa-2x unchecked"></span>
            <span id='S194' class="fa fa-star fa-2x unchecked"></span>
            <span id='S195' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <p>Elkaar kunnen vertrouwen en vertrouwen kunnen creëren</p>
            <span id='S196' class="fa fa-star fa-2x unchecked"></span>
            <span id='S197' class="fa fa-star fa-2x unchecked"></span>
            <span id='S198' class="fa fa-star fa-2x unchecked"></span>
            <span id='S199' class="fa fa-star fa-2x unchecked"></span>
            <span id='S200' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <p>Respectvol zijn</p>
            <span id='S201' class="fa fa-star fa-2x unchecked"></span>
            <span id='S202' class="fa fa-star fa-2x unchecked"></span>
            <span id='S203' class="fa fa-star fa-2x unchecked"></span>
            <span id='S204' class="fa fa-star fa-2x unchecked"></span>
            <span id='S205' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <p id="myGem">Gemiddelde</p>
            <span id='S206' class="fa fa-star fa-2x unchecked"></span>
            <span id='S207' class="fa fa-star fa-2x unchecked"></span>
            <span id='S208' class="fa fa-star fa-2x unchecked"></span>
            <span id='S209' class="fa fa-star fa-2x unchecked"></span>
            <span id='S210' class="fa fa-star fa-2x unchecked"></span>
          </div>
          </div>

          <!--grid 8 -->
          <hr style="border-top: 3px solid black;">
       <div class="container-fluid">
        
        <div class="row">
          
        
          <div class="col-sm-12">
            <h1 onclick="myFunction8()" class="title link color3">Diversiteit + culturele gevoeligheid+ belangen behartiging
              <script>
                function myFunction8() {
                  alert("Op een productieve manier reflecteren over het eigen verleden (IP 2019). Begrijpen hoe het eigen verleden (therapeutische) relaties beïnvloedt (IP 2019).Gelijkenissen her- en verkennen en verschillen accepteren (IP 2018).Eigen gedrag aanpassen om diversiteit te omarmen (COP Belgium, 2019). Pleitbezorgen opdat dienstverlening voor iedereen toegankelijk zou zijn (IP 2019). Bewust zijn van obstakels voor gelijkheid (COP Belgium, 2019). Diversiteit omarmen (COP Belgium, 2019). Creëren, ontwikkelen en/of in stand houden van een gewaardeerde maatschappelijke rol (bijvoorbeeld: de rol van de ouders, de maatschappelijke rol) (Hicks, Keeble, & Fulford, 2015; Brabban, McGonagle, & Brooker, 2006) (COP Belgium, 2019). Ondersteunen, luisteren, begrijpen. Het perspectief van de (andere) zorgvrager inschatten (IP 2018, IP 2019). Alle meningen als evenwaardig zien (IP 2018, IP 2019). Luisteren naar de belangen en bezorgdheden van elk individu (IP 2018, IP 2019). Elkaar aanmoedigen om eigen noden en wensen te uiten. Het waareren van de waarde, expertise en sterke punten van elkaar tijdens het besluitvormingsproces (COP Belgium, 2019; IP 2019)."
                  );
                }
                </script>
            </h1>
            <div class="content">
            <p>Zelfbewust zijn</p>
            <span id='S211' class="fa fa-star fa-2x unchecked"></span>
            <span id='S212' class="fa fa-star fa-2x unchecked"></span>
            <span id='S213' class="fa fa-star fa-2x unchecked"></span>
            <span id='S214' class="fa fa-star fa-2x unchecked"></span>
            <span id='S215' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <P>Een open geest hebben en elkaars referentiekader kennen</P>
            <span id='S216' class="fa fa-star fa-2x unchecked"></span>
            <span id='S217' class="fa fa-star fa-2x unchecked"></span>
            <span id='S218' class="fa fa-star fa-2x unchecked"></span>
            <span id='S219' class="fa fa-star fa-2x unchecked"></span>
            <span id='S220' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <p>Aanpakken van gelijkenissen en verschillen</p>
            <span id='S221' class="fa fa-star fa-2x unchecked"></span>
            <span id='S222' class="fa fa-star fa-2x unchecked"></span>
            <span id='S223' class="fa fa-star fa-2x unchecked"></span>
            <span id='S224' class="fa fa-star fa-2x unchecked"></span>
            <span id='S225' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <p>Promoten van belangenbehartiging</p>
            <span id='S226' class="fa fa-star fa-2x unchecked"></span>
            <span id='S227' class="fa fa-star fa-2x unchecked"></span>
            <span id='S228' class="fa fa-star fa-2x unchecked"></span>
            <span id='S229' class="fa fa-star fa-2x unchecked"></span>
            <span id='S230' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <p id="myGem">Gemiddelde</p>
            <span id='S231' class="fa fa-star fa-2x unchecked"></span>
            <span id='S232' class="fa fa-star fa-2x unchecked"></span>
            <span id='S233' class="fa fa-star fa-2x unchecked"></span>
            <span id='S234' class="fa fa-star fa-2x unchecked"></span>
            <span id='S235' class="fa fa-star fa-2x unchecked"></span>
          </div>
          </div>

          <!--grid 9 -->
          <hr style="border-top: 3px solid black;">
       <div class="container-fluid">
        
        <div class="row">
          
        
          <div class="col-sm-12">
            <h1 onclick="myFunction9()" class="title link color4">Reflectie+ persoonlijke ontwikkeling
              <script>
                function myFunction9() {
                  alert("Op een productieve manier reflecteren over het eigen verleden (IP 2019). Begrijpen hoe het eigen verleden (therapeutische) relaties beïnvloedt (IP 2019). Een proces van continu reflecteren gebruiken voor de evaluatie van de samenwerking (COP Belgium, 2019). Reflecteren over en actualiseren van de behoeften en doelen in het behandelplan (IP 2019). Voortdurend blijven ontwikkelen zowel op professioneel als persoonlijk vlak (IP 2019). De eigen behoefte aan ontwikkeling erkennen en zichzelf actief blijven bijscholen (IP 2019). Ervan bewust zijn dat extra training en educatie noodzakelijk is en dit dan ook werkelijk inplannen (IP 2018). Gemotiveerd blijven om zichzelf te blijven ontwikkelen (IP 2018; IP 2019). Constructieve feedback geven en ontvangen (IP 2019). Op basis van reflecties het eigen handelingen aanpassen (IP 2019). Ontwikkelen van begrip door reflectie, feedback, probleemoplossing, levenslang leren en supervisie. (Suter, et al., 2009). Ervaringen delen van ‘best practices’ (extern/intern) en eigen gedrag hieraan aanpassen. Reflecteren over op welke manier ‘best practices guidelines’ jezelf, je handelen en andere individuen beïnvloeden (IP 2018) (COP Belgium, 2019)."
                  );
                }
                </script>
            </h1>
            <div class="content">
            <p>Zelfbewust zijn</p>
            <span id='S236' class="fa fa-star fa-2x unchecked"></span>
            <span id='S237' class="fa fa-star fa-2x unchecked"></span>
            <span id='S238' class="fa fa-star fa-2x unchecked"></span>
            <span id='S239' class="fa fa-star fa-2x unchecked"></span>
            <span id='S240' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <P>Het welzijn en het behandelplan van de zorgvrager/ het individu in team (samen) evalueren</P>
            <span id='S241' class="fa fa-star fa-2x unchecked"></span>
            <span id='S242' class="fa fa-star fa-2x unchecked"></span>
            <span id='S243' class="fa fa-star fa-2x unchecked"></span>
            <span id='S244' class="fa fa-star fa-2x unchecked"></span>
            <span id='S245' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <p>Voortdurend leren en zichtzelf voorturend blijven ontwikkelen</p>
            <span id='S246' class="fa fa-star fa-2x unchecked"></span>
            <span id='S247' class="fa fa-star fa-2x unchecked"></span>
            <span id='S248' class="fa fa-star fa-2x unchecked"></span>
            <span id='S249' class="fa fa-star fa-2x unchecked"></span>
            <span id='S250' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <p>Continu reflecteren</p>
            <span id='S251' class="fa fa-star fa-2x unchecked"></span>
            <span id='S252' class="fa fa-star fa-2x unchecked"></span>
            <span id='S253' class="fa fa-star fa-2x unchecked"></span>
            <span id='S254' class="fa fa-star fa-2x unchecked"></span>
            <span id='S255' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <p>Bewustwording van / bewustwording van nieuwe ontwikkelingen in de praktijk</p>
            <span id='S256' class="fa fa-star fa-2x unchecked"></span>
            <span id='S257' class="fa fa-star fa-2x unchecked"></span>
            <span id='S258' class="fa fa-star fa-2x unchecked"></span>
            <span id='S259' class="fa fa-star fa-2x unchecked"></span>
            <span id='S260' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <p id="myGem">Gemiddelde</p>
            <span id='S261' class="fa fa-star fa-2x unchecked"></span>
            <span id='S262' class="fa fa-star fa-2x unchecked"></span>
            <span id='S263' class="fa fa-star fa-2x unchecked"></span>
            <span id='S264' class="fa fa-star fa-2x unchecked"></span>
            <span id='S265' class="fa fa-star fa-2x unchecked"></span>
          </div>
          </div>

          <!--grid 10 -->
          <hr style="border-top: 3px solid black;">
       <div class="container-fluid">
        
        <div class="row">
          
        
          <div class="col-sm-12">
            <h1 onclick="myFunction10()" class="title link color5">Elkaars rol en verantwoordelijkheden begrijpen
              <script>
                function myFunction10() {
                  alert("De eigen rol en capaciteiten verwoorden (COP Belgium, 2019). Een breed beeld hebben over de anderen hun ervaringen (IP 2019). Zelfreflectie hanteren om inzicht te ontwikkelen in de eigen rol (IP 2019). Andere teamleden hun expertise respecteren en waarderen (IP 2018). Elkaars rol respecteren en hier ook naar handelen (COP Belgium, 2019). "
                  );
                }
                </script>
            </h1>
            <div class="content">
            <p>Zich bewust zijn van zijn eigen rol</p>
            <span id='S266' class="fa fa-star fa-2x unchecked"></span>
            <span id='S267' class="fa fa-star fa-2x unchecked"></span>
            <span id='S268' class="fa fa-star fa-2x unchecked"></span>
            <span id='S269' class="fa fa-star fa-2x unchecked"></span>
            <span id='S270' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <P>Bewust zijn van en begrijpen van de rol van de anderen</P>
            <span id='S271' class="fa fa-star fa-2x unchecked"></span>
            <span id='S272' class="fa fa-star fa-2x unchecked"></span>
            <span id='S273' class="fa fa-star fa-2x unchecked"></span>
            <span id='S274' class="fa fa-star fa-2x unchecked"></span>
            <span id='S275' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <p id="myGem">Gemiddelde</p>
            <span id='S276' class="fa fa-star fa-2x unchecked"></span>
            <span id='S277' class="fa fa-star fa-2x unchecked"></span>
            <span id='S278' class="fa fa-star fa-2x unchecked"></span>
            <span id='S279' class="fa fa-star fa-2x unchecked"></span>
            <span id='S280' class="fa fa-star fa-2x unchecked"></span>
            </div>
          </div>

           <!--grid 11 -->
           <hr style="border-top: 3px solid black;">
       <div class="container-fluid">
        
        <div class="row">
          
        
          <div class="col-sm-12">
            <h1 onclick="myFunction11()" class="title link color6">De ervaring (van ervarings-deskundigen) gebruiken
              <script>
                function myFunction11() {
                  alert("Open staan om samen te werken met elkaar (zorgvragers, hun zorgverleners, hun familie, vrienden, buren,… ) dit op micro-, meso- en macro-niveau (IP 2019). De ervaring van ervaringsdeskundigen, familie, zorgverleners gebruiken op een niettokenistische manier (IP 2019). Samenwerken met zorgvragers gedurende het hele proces van coproductie (IP 2018).Het gezondheidszorgsysteem uitdagen om samen te werken met ervaringsdeskundigen. Kansen aanreiken om via coproductie veranderingen aan te brengen in de geestelijke gezondheidszorg (IP 2019). Inzicht en kennis creëren omtrent de rol en waarde van een ervaringsdeskundige (IP 2019). Kansen aanreiken aan mensen om als ervaringsdeskundige de leidinggevende rol op zich te nemen (IP 2019). "
                  );
                }
                </script>
            </h1>
            <div class="content">
            <p>Mogelijkheden bieden aan zorgvrager, zorgverleners en mantelzorgers om hun ervaringen te uiten zodat alle partijen deze goed begrijpen en tokenisme gereduceerd wordt</p>
            <span id='S281' class="fa fa-star fa-2x unchecked"></span>
            <span id='S282' class="fa fa-star fa-2x unchecked"></span>
            <span id='S283' class="fa fa-star fa-2x unchecked"></span>
            <span id='S284' class="fa fa-star fa-2x unchecked"></span>
            <span id='S285' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <P>Systematisch gebruik maken van de ervaring van (andere) zorgvragers</P>
            <span id='S286' class="fa fa-star fa-2x unchecked"></span>
            <span id='S287' class="fa fa-star fa-2x unchecked"></span>
            <span id='S288' class="fa fa-star fa-2x unchecked"></span>
            <span id='S289' class="fa fa-star fa-2x unchecked"></span>
            <span id='S290' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <p>Het gezondheidszorgsysteem aanpassen zodat er beroep kan worden gedaan op zorgvragers en zorgverleners</p>
            <span id='S291' class="fa fa-star fa-2x unchecked"></span>
            <span id='S292' class="fa fa-star fa-2x unchecked"></span>
            <span id='S293' class="fa fa-star fa-2x unchecked"></span>
            <span id='S294' class="fa fa-star fa-2x unchecked"></span>
            <span id='S295' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <p>kansen grijpen of creëren om over te gaan naar een leidinggevende rol als ervarngdeskundige</p>
            <span id='S296' class="fa fa-star fa-2x unchecked"></span>
            <span id='S297' class="fa fa-star fa-2x unchecked"></span>
            <span id='S298' class="fa fa-star fa-2x unchecked"></span>
            <span id='S299' class="fa fa-star fa-2x unchecked"></span>
            <span id='S300' class="fa fa-star fa-2x unchecked"></span>
            <br>
            <br>
            <p id="myGem">Gemiddelde</p>
            <span id='S301' class="fa fa-star fa-2x unchecked"></span>
            <span id='S302' class="fa fa-star fa-2x unchecked"></span>
            <span id='S303' class="fa fa-star fa-2x unchecked"></span>
            <span id='S304' class="fa fa-star fa-2x unchecked"></span>
            <span id='S305' class="fa fa-star fa-2x unchecked"></span>
          </div>
          </div>

          <!--grid 11 -->
          <hr style="border-top: 3px solid black;">
          
    </div>
    <h1>Spinnenweb Diagram</h1>
    <div class="top_buttons">
      <button id="nl" onclick="showNL(this)">Add</button>
    <button id="new" onclick="Restart()">New</button>
    </div>
    <canvas id="myChart"></canvas><br>
    <div class="bottom_button">
      <button id="del" onclick="cleardb()">Delete chart</button><br>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> 
  </div><br><br><br>

  


  


    <!--FOOTER-->
    <div class="footer">
        © Arno Devolder,Simon Weytens & Robin soetaert | 2021 All rights reserved
    </div>
 <!-- LOCALBASE SCRIPT-->
<script src="https://unpkg.com/localbase/dist/localbase.dev.js"></script>
<!--eigen scriptje linken-->
<script src="script.js"></script>
<script>window.onload = function(){
  showNL()
}</script>



</body>
</html>